body {
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;
	background: white;
	color: black;
}
a {
	color:#6DA3BD;
	text-decoration:underline;
}
a:hover {
	color:#4D7285;
	text-decoration:underline;
}

.hentry {
    width: 100%;
	margin-bottom:10px;
	display: block;
}

.entry-title {
	color: #666;
	margin-bottom: 5px;
	margin-top: 0px;
}

.topic {
	color:#666;
}
.topic:hover {
	color:#A3A3A3;
}

.content {
	margin-bottom: 5px;
}

.content img {
	width: 100%;
}

.tags {
    padding-left:18px;
    list-style: none;
    background: #fff url(tags.gif) no-repeat 0 50%;
	margin: 0px 0 5px 0;
}
.tags li {
	display: inline;
}
.tags li a {
	font-size: .83em;
	color: #666;
}
.tags li a:hover {
	color:#A3A3A3;
}

.entry-info {
	font: .75em/2em Arial, sans-serif;
	float:left;
	padding: 0 0 5px;
	border: 1px solid #e5e5e5;
	z-index:20;
	position:relative;
	width:100%;
	margin-bottom: 10px;
}

.corner {
	width:5px;
	height:5px;
	overflow:hidden;
	position:absolute;
	font-size:0;
}

.tl {
	float:left;
	left:-1px;
	top:-1px;
	background:url(tl.gif) no-repeat 0 0;
}
.tr {
	float:left;
	right:-1px;
	top:-1px;
	background:url(tr.gif) no-repeat 0 0;
}
.bl {
	float:left;
	left:-1px;
	bottom:-1px;
	background:url(bl.gif) no-repeat 0 0;
}
.br {
	float:left;
	right:-1px;
	bottom:-1px;
	background:url(br.gif) no-repeat 0 0;
}

.entry-info-wrap { 
	clear:both;
}

.entry-info  .entry-info-wrap div {
	padding: 5px .56em 0;
	float: left;
	
}
.entry-info  .mark {
	padding: 5px .3em 0;
	font-size: 1.3333em;
	font-weight: bold;
	color: #a9a9a9;
}

.entry-info div.positive .mark {
	color: #390;
}
.entry-info div.negative .mark {
	color: #c00;
}

.entry-info div a {
	text-decoration: none;
	font-weight: 700;
}

.favs_count span {

	background: url(star_off.gif) 0 50% no-repeat;
	/*height:10px;
	margin-top:10px;
	padding-left:15px;*/
	margin-right: 0 !important;
	display: block;
	margin-top:-1px;
	padding: 1px 0 0px 17px;
	/*background: url(http://habrahabr.ru/i/bg-comments2.gif) 0 70% no-repeat;*/
}

.entry-info .published {
	display: block;
	margin-left:-2px;
	/*padding-left: 17px;
	background: url(http://habrahabr.ru/i/bg-published2.gif) no-repeat 0 50%;*/
}

.entry-info .vcard {
	/*clear: left;*/
}

.entry-info .vcard a {
	color:#CF0000;
	padding:2px 0 3px;
	background:transparent;
}
.entry-info .vcard.full a{
	padding-left:17px;
	background: url(user.gif) no-repeat 0 50%;
}

.entry-info div.comments {margin-right: 5px;}

.entry-info a {
	color:#CF0000;
}
.entry-info a:hover {
	color: #F17D7D;
}
.entry-info1 .vcard a:visited{
	color:#F17D7D;
}
.entry-info1 .vcard a:visited:hover{
	color:#CF0000;
}

.entry-info .comments a {
	display: block;
	margin-top:-1px;
	padding: 1px 0 0px 17px;
	background: url(comments.gif) 0 50% no-repeat;
}
.entry-info .comments a .new {
	color: #390;
}

.entry-info .comments a:hover .new {
	color: #85C266;
}